*{
    text-align:center;
    
}
html{
    scroll-behavior: smooth;
}
.tabl {
    width: 60%;
    margin: 20px auto;
    text-align: left;
}
.banner {
    width: 100%;
   display:inline-block;
    background-color:rgb(128, 122, 226);
    
    text-align: center;
}
.banner img{
    margin:auto;
    height:300px;
    width:100%
    
}
.bigH1{
    padding:10px;
    font-size:4vw
    
}

.callToAction{
    text-decoration: none;
    margin:10px auto 16px;
    transition-delay: 1s;
}
.callToAction:hover{
    background-color: cornsilk;
    color:black
}
.footer{
    background-color: rgb(128, 122, 226);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content:center;
    
    flex-wrap: wrap;
}
.footer>p{
    margin:0px;
    font-size:1vw;
    padding:5px
}
@media only screen and (max-width: 600px) {
    .topP{
        text-size-adjust:1vw;
        text-align: center;
    }
    .footer>p{
        margin:0px;
        font-size:3vw;
        padding:3px
    }
  }